<div class="card emptyCard mb-4 rounded-3 shadow-sm">
    <div class="card-body">
        <div class="d-flex justify-content-center fs-1">
            <i class="bi bi-compass"></i>
        </div>
        <h5 class="card-title d-flex justify-content-center">Create a new trip</h5>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createTripModal" data-bs-whatever="createTrip">Create</button>
        {{> createTripModal }}
    </div>
</div>  