<h3>{{experience.experienceName}}</h3>
<p>Location: {{experience.experienceLocation}}</p>
<p>Keywords: {{#each experience.experienceKeywords}}{{this}}{{#unless @last}},{{/unless}}
  {{/each}}</p>
<p>Rating: {{experience.experienceRating}}/5</p>