<div class="bg-gray h-100 w-25 p-3 d-flex flex-column col-sm-3 justify-content-start">
  <div>
    <h3>Profile</h3>
  </div>
  <div class = "left-column">
    <a href="/Trips" class="nav-link index-button" id = "trips-link">Trips</a>
    <a href="/addExperience" class="nav-link navigationAdd-button" id = "add-link">Add Experiences</a>
    <a href="/searchExperience" class="nav-link navigationSearch-button" id = "search-link">Search Experiences</a>
    <a href="/resetPassword" class="nav-link navigationReset-button" id="reset-password-link">Reset Password</a>
  </div>
  <div class = "right-column">{{{profile}}}</div>
</div>