<div class="bg-gray h-100 w-25 p-3 d-flex flex-column justify-content-start">
  <div>
    <h3>Profile</h3>
  </div>
  <div class = "left-column">
    <a class="nav-link index-button" id = "trips-link">Trips</a>
    <a class="nav-link navigationAdd-button" id = "add-link">Add Experiences</a>
    <a class="nav-link navigationSearch-button" id = "search-link">Search Experiences</a>
    <a class="nav-link navigationSaved-button" id = "saved-link">Saved Experiences</a>
    <a class="nav-link navigationReset-button" id="reset-password-link">Reset Password</a>
    <a class="nav-link logout-button" id = "logout-link">Logout</a>             <!used for logging out>
  </div>
  <div class = "right-column">{{{profile}}}</div>
</div>
