<nav class="navbar navbar-expand-lg bg-travel-yellow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler m-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {{#unless isHomeRender}}
        {{> searchExperiences}}
      {{/unless}}
      <span class="g-3 ms-auto mb-2 mb-lg-0">
        {{#if isCreateRender}}
        <button type="button" class="btn btn-success" id = searchForm ><i class="bi bi-plus"></i></button>
        {{/if}}

        <!<img src="/images/default.png" alt="Profile picture" width="50" height="50">
      </span>
    </div>
</nav>
