<!-- This partial renders in the TripExperiences page where it displays the overall information of a trip. -->

<div class="row" data-id="tripHero">
    <h1 class="mx-auto p-4 py-md-5">Updating trip information for {{tripName}}</h1>
    {{> editTripName }}
</div>
