<div class="card mb-4 rounded-3 shadow-sm mx-1">
    <div class="card-body">
        <div class="d-flex justify-content-center fs-1">
            <i class="bi bi-geo-alt"></i>
        </div>
        <h5 class="card-title d-flex justify-content-center" data-id="{{trip.tripID}}">{{trip.tripTitle}}</h5>
        <a href="#" class="btn btn-primary">Edit</a>
        <button class='btn btn-danger' onclick='deleteTrip({{trip.tripID}})'>Delete</button>
    </div>
</div>
