{{> navbar}}
{{#if isHomeRender}}
  <div class="h-100 d-flex align-items-center justify-content-center vstack gap-3">
    <h2>Crowd-Sourced Travel Planner</h2>
    {{> searchExperiences }}
  </div>
{{/if}}
