<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/landing.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../js/scripts.js"></script>
  </head>
  <body>
    <div class="d-flex h-100">
      {{> nav}}
      <div class="w-75 p-3">
        <div class="resetFlex h-100">
          <div id="reset-form5" class="reset-form5"><img src="../images/logo.png" alt="logo"></div>
        </div>
      </div>
      <script>
        //logout
        const navigationLogoutBtn = document.querySelector(".navigationLogout-button");
        const resetForm = document.getElementById("reset-form");
        //Logout
        navigationLogoutBtn.addEventListener("click", function() {
          const xhr = new XMLHttpRequest();
          // Set up the request
          xhr.open('POST', '/logout');
          // Set up the callback function for when the request completes
          xhr.onload = function() {
            // Redirect the user to the home page
            sessionStorage.clear();
            window.location.href = '/';
          };
          // Send the request
          xhr.send();
          //sessionStorage.clear();
          //window.location.href = "/";
        });
      </script>

    </div>
    <div class="container mt-5">
    {{body}}
    </div>
  </body>
</html>
