<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/landing.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="../js/scripts.js"></script>
    </head>
    <body>
        <div class="d-flex h-35">
            {{> nav}}
            <div class="w-75 p-3">
                <div id = "reset-form" class = "reset-form">
                    <form action= "#">
                        <h1 class="text-container">Crowd-Sourced Travel Planner</h1>
                        <h2 class="text">Reset Password</h2>
                        <div class="box">
                            <div class="form-group">
                                <label for="Enter email">Enter associated email:</label><input type="text" class="form-control" placeholder="Enter associated email" id="email">
                                <label for="Enter New Password">Enter New Password:</label><input type="text" class="form-control" placeholder="Enter new password" id="newpassword">
                            </div>
                            <div class="form-group text-center"><button type="button" class="btn btn-primary" id = "reset-button" style="width: 100%; background-color: green; border-radius: 10px;" onclick="newpassword()">Reset Password</button></div>
                        </div>
                    </form>
                </div>
            </div>
            <script>
                //trips
                const navigationIndexBtn = document.querySelector(".index-button");
                //add
                const navigationAddBtn = document.querySelector(".navigationAdd-button");
                //search
                const navigationSearchBtn = document.querySelector(".navigationSearch-button");
                const searchexp = document.getElementById("search-exp");
                // saved
                const navigationSavedBtn = document.querySelector(".navigationSaved-button");
                //reset
                const navigationResetBtn = document.querySelector(".navigationReset-button");
                const resetForm = document.getElementById("reset-form");
                //trips
                navigationIndexBtn.addEventListener("click", function() {
                    resetForm.style.display = "none";
                });
                //add
                navigationAddBtn.addEventListener("click", function() {
                    resetForm.style.display = "none";
                });
                //search
                navigationSearchBtn.addEventListener("click", function() {
                    resetForm.style.display = "block";
                });
                //saved
                navigationSavedBtn.addEventListener("click", function() {
                    resetForm.style.display = "none";
                });
                //reset
                navigationResetBtn.addEventListener("click", function() {
                    resetForm.style.display = "block";
                });
            </script>
        </div>
        <div class="container mt-5">
            {{body}}
        </div>
    </body>
</html>