{{> searchNavbar}}

<div class="mt-5 ml-auto d-flex align-items-center justify-content-center vstack gap-3">
  <div class="col-lg-8 col-xs-12">
    <p>Results for "search term" by {{searchType}} </p>
  </div>
  <div>
    {{#each searchResults}}
    <div class="row m-3">
      <div class="col-lg-4 col-md-4 col-sm-4 m-1">
        {{> experiencePhoto photo=this.experiencePhoto bootstrapClass='img-thumbnail'}}
      </div>
      <div class="col-lg-7 col-md-6 col-sm-5 experienceDetails m-1 p-3">
        {{> experienceDetails experience=this}}
      </div>
    </div>
    {{/each}}
  </div>
</div>