<!DOCTYPE html>
<html>

<head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/trips.css">
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>

<body>
    {{> nav}}
    <div class="container">
        <div class="row" data-id="tripHero">
            <h1 class="mx-auto p-4 py-md-5">Updating trip information for {{tripName}}</h1>
            {{> editTripName }}
        </div>
        <div data-id="expRows" class="row">
            <div data-id="tripExps" class="col">
                {{> tripExperiences }}
            </div>
            <div data-id="availExps" class="col">
                {{> availableExperiences }}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/js/EditTrips.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>

</body>

</html>