<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/landing.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="../js/scripts.js"></script>
    </head>
    <body>
        <div class="d-flex justify-content-evenly h-35">
            {{> nav}}
            <div class="mt-5 d-flex align-items-center justify-content-between vstack gap-3">
                <div class="row m-2">
                    <div class="col-lg-6">
                        <img class="experienceImage" src='upload/{{this.image}}' width="200" height:auto>
                    </div>
                    <main class="m-2">
                        <h1 class="col-lg-8 mx-auto p-4 py-md-5">Your Trips</h1>
                        <div class="py-5 bg-light">
                            <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <div class="col">
                                    {{> emptyTripCard }}
                                </div>
                                    {{#each data}}
                                <div class="col">
                                    {{> tripCard trip=this}}
                                </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <script src="./js/deleteTrip.js"></script>
        </div>
        <div class="container mt-5">
            {{body}}
        </div>
    </body>
</html>