body {
  overflow-x: hidden;
  width: 100vw;
}

html {
  --color-gray-100: rgb(207, 201, 195);
  --color-yellow-500: #ffd700;
}

.bg-travel-yellow {
  background-color: var(--color-yellow-500) !important;
}

.img-responsive {
  max-width: 3.5em;
  max-height: 3.5em;
}

.experienceDetails {
  background-color: var(--color-gray-100);
}
